
## User settings
xcuserdata/

GoogleService-Info.plist
Here-Info.plist
Pods-myWay-acknowledgements.plist
myWay.entitlements


Pods/

Assets.xcassets/
project.xcworkspace/
xcshareddata/
project.pbxproj
contents.xcworkspacedata
PhotoUnitTester.xcodeproj/
myWay.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist



myWayApp/launchSreenIcon@2x.png
myWayApp/launchSreenIcon.png
myWayApp/launchSreenIcon@3x.png
myWayApp/Support/Default-568h@2x.png
myWayApp/Support/Colours.xcassets/UserLocationIcon.colorset/Contents.json
myWayApp/Support/Colours.xcassets/Contents.json
PhotoUnitTester.xcodeproj/project.pbxproj
PhotoUnitTester.xcodeproj/xcuserdata/George.xcuserdatad/xcschemes/xcschememanagement.plist
PhotoUnitTester.xcodeproj/project.pbxproj
PhotoUnitTester.xcodeproj/xcuserdata/George.xcuserdatad/xcschemes/xcschememanagement.plist
